.row h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	font-weight: bold;
}

li span {
	font-weight: normal;
}

canvas {
	margin: auto;
	border: 1px dotted black;
}

i.glyphicon {
 font-size: 2em;
}

#GameOver {
	font-weight: bold;
	font-size: 25px;
}
